/*
.courses-button .course a{
    color: red;
    border: 1px solid chocolate;
     padding: .70rem ;
    font-size: 1rem;
    text-align: center;

}
.courses-button .course a:hover{
    color:#343a40;
    border: 1px solid #343a40;
}
  
.courses-button .course .course-image{
margin-right: 0.5rem;
position: relative;
background-size: cover;

}



.courses-button .course .course-image img{
border-radius: 35px;
border: 1px solid #333;
width: 100%;
height: auto;
    
    }
    .courses-button .course .course-image span {
        background: red;
        padding: 0.25rem;
        color: #fff;
        border-radius: 4px;
        position: absolute; 
        top: 15px;
        left: 0;
    }




    .title{
        letter-spacing: 1.2px;
        font-weight: 700;
        margin-bottom: 0.25rem;
    }


    .title-course{
        letter-spacing: 1.2px;
        margin-bottom: 0.25rem;
        font-weight: 500;
    }


    .description-course{
        letter-spacing: 1.2px;
        margin-bottom: 0.25rem;
        opacity: 0.8;
    }

    .instruction-course{
        margin-bottom: 0.25rem;
        opacity: 0.6;
    }


    */

    