*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    /* No underline, if so */
    text-decoration: none !important;
    color: #fff;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    /*Navbar*/
#navbar-styling{ 
    color:#fff;
    /*Makes buttons in navbar get together*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0.75rem;
    height: 50%;
}

.navbar-btn-right{
    text-decoration: none !important;
    list-style: none;
    display: flex;
    align-items: center;
    color:#fff;
}

/* Choosing HTML a */
.button-style-nav { 
    padding: 0.5rem;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

/*Giving hover effect to navbar buttons*/
.button-style-nav:hover{
    background:#336ea2;
    border-radius: 5px;
}

/*HOME Section*/
#home-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
    height: 100vh;
}

/*image'ın içinde bulunduğu bütün alanı kaplaması için */
#home-button img{
    max-width: 100%;
    height: auto;
    /*eğer  100% verirsen height e göre ovale çevircek*/
    border-radius: 50%;
}

#home-button .name h2{
    margin-bottom: 0.75rem;
}

#home-button .name p{
    opacity: 0.6;
    font-style: italic;
}

/*education*/
#education-button{
    color: #fff;
    padding: 1rem;
    height: 100vh;                        
}

#education-button .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

#education-button .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
    list-style: none;
}

#courses-button{
    color: #333;
    padding: 1rem;
}

.courses-button{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.courses-button .course{
display: flex;
padding: 0.5rem;
margin-bottom: 0.5rem;
}

/*Courses globale koydum*/
.discount-span{
    background: red;
    color: #fff;
    border-radius: 4px;
}

    /*MODAL*/

    /*CONTACT*/
#contact-button {
    color: #fff;
    padding: 1rem;
    height: 100vh;
}
   
#contact-button .contact-form{
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

#contact-button .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}

#contact-button .contact-form ul li a{
    padding: 1rem ;
    font-size: 2rem;
    transition: all .4s ease-in-out
}

#contact-button .contact-form ul li a:hover{
    color: #00AEF0;
    opacity: 0.8;
    transform: scale(1.2);
}

/*----------------Footer-------------------*/
.footer{
    background:  #343a40;
    color: #fff;
    position: relative;
    height: 470px;
}

.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer .footer-content{
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex:1;
    padding:25px;
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: #fff;
}

.footer .footer-content .about h1 span{
    color: #336ea2;
}

.footer .footer-content .about .contact .span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
} 

.footer .footer-content .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all.3s;
}

.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color: #fff;
    transition: all.3s;
}

/*footer Quick Links Section*/
.footer .footer-content .links{
    padding-top: 35px;
    padding-left: 5px;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer .footer-content .links ul a:hover{
    color: #fff;
}

/*-----------------------------GLOBAL-------------------------------*/
/* text  */
.text-center{
    text-align: center;
}

.heading-small{
font-size: 1.25rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}

/*Colors*/
.bg-dark-blue{
    background:#062e51;
}

.bg-light-blue{
    background: #336ea2;
}

/*Buttons */
.btn{
    margin-top: .5rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
    margin-bottom: .5rem;
}

.btn-primary{
    background: #336ea2;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.btn-primary:hover{
    color: #fff;
    background: #00AEF0;
}

.btn-dark{
    background: #333;
}

.btn-dark:hover{
    color: #333;
    background: #fff;
    border: 0.5px solid #333;
}

.btn-block{
    width: 100%;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.btn-block:hover{
    background-color: #00AEF0;
    color: #fff;
    opacity: 0.8;
    }

/* FORMS */
.form-group{ /* The div that hides labels and inputs*/
    padding: 0.25rem 0;
}

/*Because my labels are inline I have to give them block element*/
.form-group label{
    display: block;
}

.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;  /*text area will remain same*/
    border-radius: 5px;  
}

/* Container created to make h1 and ul stay in the middle of navbar */
.container{
    max-width: 1100px; /* Yani tam ekranda 100 px üstüne çıkamıycak. */
    margin: 0 auto; /* Position center in full screen  */
}