#navbar{
    flex-direction: column;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
/*hinder hover to overflow*/
    overflow: hidden;
    height: 90px; /*normalde 70 px vermiştik*/

}
#training .items{
 flex-direction: column;
 height: 100vh;
}
#training .items .item{
    width: 100%;
    height: 100vh;
}
.courses .course{
    flex-direction: column;
}